**/.env
**/dist
**/node_modules
**/.eslintcache
**/tmp
**/log
**/*.log
**/storage
**/*.key
**/coverage
!**/.keep

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions