@use "sass:map";
@use "../variables" as material-theme;
@use "@material/theme/mixins" as mdc-mixins;

.footer {
  // The minimum width at which the "Made with MDC web" link is visible.
  @include mdc-mixins.prop(background-color, material-theme.$dark);
  @include mdc-mixins.prop(color, material-theme.$on-dark);

  min-height: 192px;
  margin-top: 144px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &__inner {
    max-width:material-theme.$max-width;
    flex: 1 0 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;
    padding: var(--mdc-layout-grid-margin-tablet, 16px);
    max-width: 1300px;

    h2 {
      margin-top: .8em;
      margin-bottom: .8em;
      text-align: center;
      font-weight: bold;
    }

    .column {
      padding: 2rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;

      &.flex-list-center {
        .mdc-list-item {
          justify-content: center;
        }
      }
    }

    @media(max-width: map.get(material-theme.$breakpoints, tablet) - 1px) {
      .column ~ .column {
        border-top: 2px solid material-theme.$secondary;
      }

      h2 {
        margin-top: 0;
        margin-bottom: .5em;
      }
    }

    @media(min-width: map.get(material-theme.$breakpoints, tablet)) {
      flex-direction: row;

      .column:first-child {
        border-left: 2px solid material-theme.$secondary;
      }

      .column {
        flex: 1 1 auto;
        border-right: 2px solid material-theme.$secondary;
      }
    }

    @media(min-width: map.get(material-theme.$breakpoints, desktop)) {
      padding: 24px;
      padding: var(--mdc-layout-grid-margin-desktop, 24px);
    }

    .mdc-list-item {
      @include mdc-mixins.prop(color, material-theme.$on-dark);

      &.flex-around {
        justify-content: space-around;
      }

      &__meta,
      &__graphic {
        @include mdc-mixins.prop(color, material-theme.$on-dark);
      }

      &__meta {
        margin-left: 32px;
      }

      & img.icon {
        max-height: 18px;
      }

      &__primary-text,
      &__secondary-text {
        @include mdc-mixins.prop(color, material-theme.$on-dark);

      }

      @media(min-width: map.get(material-theme.$breakpoints, tablet)) and (max-width: map.get(material-theme.$breakpoints, desktop) - 1px) {
        font-size: 12px;

        & img.icon {
          max-height: 14px;
        }
      }
    }
  }
}
