@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
$header-font-family: unquote("Roboto, sans-serif") !default;
$font-family: unquote("Open Sans, sans-serif") !default;

$white: #ffffff !default;
$almost-white: #fcfcfc !default;
$blue: #003e54 !default;
$red: #d52027 !default;
$gray: #333333 !default;
$almost-black: #333333 !default;
$black: #000000 !default;
$light-pink: #ed8b8f !default;
$pink: #ed545a !default;

$primary: $blue !default;
$on-primary: $white !default;
$secondary: $red !default;
$on-secondary: $white !default;
$dark: $almost-black !default;
$on-dark: $white !default;
$error: $almost-black !default;
$on-error: $pink !default;
$field-error: $pink !default;
$app-bar-primary: $blue !default;
$app-bar-on-primary: $white !default;
$form-field-label: rgb(0, 0, 0, 0.6) !default;
$form-field-text: rgb(0, 0, 0, 0.87) !default;
$form-field-background: whitesmoke !default;
$form-field-icon: rgb(0, 0, 0, 0.54) !default;

$bio-font-size: (
  largedesktop: 16px,
  desktop: 16px,
  tablet: 16px,
  largephone: 12px,
  phone: 12px
) !default;

$breakpoints: (
  largedesktop: 1200px,
  desktop: 992px,
  tablet: 768px,
  largephone: 576px,
  phone: 0px
) !default;

$columns: (
  largedesktop: 18,
  desktop: 18,
  tablet: 12,
  largephone: 6,
  phone: 6
) !default;

$default-margin: (
  largedesktop: 24px,
  desktop: 24px,
  tablet: 16px,
  largephone: 16px,
  phone: 16px
) !default;

$default-gutter: (
  largedesktop: 24px,
  desktop: 24px,
  tablet: 16px,
  largephone: 16px,
  phone: 16px
) !default;

$column-width: (
  largedesktop: 72px,
  desktop: 72px,
  tablet: 72px,
  largephone: 72px,
  phone: 72px
) !default;

$default-column-span: 6 !default;

$max-width: 1300px !default;
